// Colors

$favorite-black: #333;


%main-gradient {
	background-color: #0093E9;
	background-image: linear-gradient(-19deg, #0093E9 35%, #80D0C7 121%);
	background-image: -webkit-linear-gradient(-19deg, #0093E9 35%, #80D0C7 121%);
	background-image: -moz-linear-gradient(-19deg, #0093E9 35%, #80D0C7 121%);
	background-image: -o-linear-gradient(-19deg, #0093E9 35%, #80D0C7 121%);
}