#about-quote {
    margin-top: 150px;
    margin-bottom: 50px;
}
#contact-hero {
    margin-bottom: 30px;

    .title {
        font-size: 4rem !important;
    }
}
#contact-link {
    color: inherit;
    text-decoration: underline;
    transition: 0.3s;

    &:hover {
        color: $hover-blue-alt;
    }
}

