#contact-info-list {
    svg {
        margin-right: 15px;
    }

    border: none;

    .list-item {
        transition: 0.3s ease;
        color: $main-text-black;
        border-color: transparent;
        padding-left: 0;

        // Install hover.css library for color to shift from left to right.
        &:hover {
            color: $main-text-black;
        }
    }
}
#contact-hero {
    margin-bottom: 30px;

    .title {
        font-size: 4rem !important;
    }
}
