#see-work-btn {
    background: $purple-dark;
    background: linear-gradient(to top, $purple-dark, $purple-medium);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.27);
    border: none;
}

.button-cta {
    border-color: transparent;
    padding: 1.5rem !important;
}

.is-white {
    &:hover {
        background-color: transparent !important;
    }
}
