#see-work-btn {
    background: #5546F2;
    background: -webkit-linear-gradient(bottom, #5546F2, #7D69F4);
    background: -moz-linear-gradient(bottom, #5546F2, #7D69F4);
    background: linear-gradient(to top, #5546F2, #7D69F4);
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.27);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.27);
}
.button-cta {
    border-color: transparent;
    padding: 1.5rem !important;
}