.header-wrapper {
	font-family: $font-main;
	padding-top: 60px;
	padding-bottom: 0px;
    .hamburger {
        margin-left: auto;
    }
    .hamburger-box {
        &:focus {
            outline: none;
        }

        &:active {
            outline: none;
        }
    }
	.hero-body {
		padding: 0;
	}
	.header-li {
		padding: .5rem 1.5rem;
		font-size: 17px;
		font-weight: $weight-medium;
		&:hover {
			color: #3273dc !important;
			background-color: transparent;
		}
	}
	@include mobile {
		padding-top: 16px;
	}
}
