.hero-wrapper {
	font-family: $font-main;
	padding-top: 130px;
	padding-bottom: 0px;
	.title {
		margin-bottom: 12px;
		line-height: 1.26;
		transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
	}
	.subtitle {
		line-height: 1.45;
		font-weight: $weight-medium;
	}
}