.hero-wrapper {
    font-family: $font-main;
    padding-top: 130px;
    padding-bottom: 0px;
    margin-bottom: 120px;

    .title {
        margin-bottom: 12px;
        line-height: 1.26;
        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .subtitle {
        line-height: 1.45;
        font-weight: $weight-medium;
    }

    #description {
        font-weight: $weight-normal;
    }
}

.tile {
    margin-bottom: 40px;
    margin-top: 40px;

    .article-tile {
        .image-overlay {
            background: rgba(0, 0, 0, 0.7);
            bottom: 0;
            color: white;
            left: 0;
            opacity: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            position: absolute;
            text-align: center;
            top: 0;
            right: 0;
            -webkit-transition: 0.4s;
            transition: 0.4s;

            svg {
                width: 60px;
                height: 60px;
                stroke-width: 1px;
            }

            &:hover {
                opacity: 1;
            }

            @media screen and (max-width: 767.98px) {
                width: auto;
                height: 300px;
            }

            @include until-widescreen {
                height: 300px;
            }

            @media screen and (min-width: 1024px) and (max-width: 1215.98px) {
                width: auto;
                height: 300px;
            }
        }

        .image-overlay:after,
        .image-overlay:before {
            content: '';
            opacity: 0;
            position: absolute;
            -webkit-transform: scale(1.5);
            -ms-transform: scale(1.5);
            transform: scale(1.5);
            -webkit-transition: 0.4s 0.2s;
            transition: 0.4s 0.2s;
        }


        .image-overlay:hover:after,
        .image-overlay:hover:before {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            opacity: 1;
        }

        .article-tile-image {
            box-shadow: rgba(0, 0, 0, 0.22) 2px 2px 20px 0;
            overflow: hidden;
            background-size: cover;

            /**
            Need to clean all of these media queries up.
            */
            &--large {
                height: 50vh;
                max-height: 470px;
                width: 700px;

                @media screen and (max-width: 767.98px) {
                    width: auto;
                    height: 300px;
                }

                @include until-widescreen {
                    height: 300px;
                }

                @media screen and (min-width: 1024px) and (max-width: 1215.98px) {
                    width: auto;
                    height: 300px;
                }

            }
        }

        &--small {
            height: 35vh;
            max-height: 330px;
            width: auto;

            @media screen and (max-width: 767.98px) {
                width: auto;
                height: 300px;
            }

            @media screen and (min-width: 767.98px) and (max-width: 1023.98px) {
                width: 700px;
            }

            @media screen and (min-width: 1024px) and (max-width: 1215.98px) {
                width: auto;
                height: 300px;
            }

            @include until-widescreen {
                height: 300px;
            }

            .image-overlay {
                height: 35vh;
            }

        }
    }

    .image img {
        max-width: unset !important;
    }

    .article-title-info {
        margin-top: 20px;

        .title {
            margin-bottom: 40px;
        }
    }

}

.pr-0 {
    padding-right: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.article-container {
    margin-bottom: 80px;

    .columns {
        width: 100%;
    }
}


#about-hero {
    margin-bottom: 30px;

    .title {
        font-size: 4rem !important;
    }
}

#contact-link {
    color: inherit;
    text-decoration: underline;
    transition: 0.3s;

    &:hover {
        color: $hover-blue-2;
    }
}

#about-quote {
    margin-top: 50px;
    margin-bottom: 50px;
}
